@font-face {
	font-family: Exo-Light;
	src: url('exo-2/Exo2-Light.otf');
}

@font-face {
	font-family: Exo-Light;
	font-style: italic;
	src: url('exo-2/Exo2-LightItalic.otf');
}

@font-face {
	font-family: Exo-Light;
	src: url('exo-2/Exo2-Medium.otf');
	font-weight: bold;
}

@font-face {
	font-family: CODE;
	src: url('CODE/CODE Light.otf');
}

@font-face {
	font-family: CODE;
	font-weight: bold;
	src: url('CODE/CODE Bold.otf');
}

@font-face {
	font-family: CODE;
	src: url('CODE/CODE Light.otf');
}

body {
	font-family: Exo-Light;
}

.navbar {
	background-color: rgba(0,14,52,0.50);
	transition: background-color 0.5s ease 0s;
}

.navbar.opaque {
	background-color: rgba(0,14,52,1);
	transition: background-color 0.5s ease 0s;
}

h1, h2, h3, h4, h5, h6 {
	font-family: CODE;
	font-weight: bold;
}

.lead {
	font-family: CODE;
	padding-top: 20px;
	font-size: 38px;
	font-weight: bold;
	outline-color: black;
}

.nav-pills > .nav-item > .active {
	background-color: white;
	color: blue;
	border-radius: 0px;
	box-shadow: 0px 0px 2px 2px #4662B0;
}

.nav-pills > .nav-item {
	border: solid 1px grey;
	background-color: rgba(196,196,196,0.30);
}

.col-xl-3 {
	padding-right: 0px;
}

.cover {
	box-shadow: 2px 3px 5px #999;
	border: solid 1px grey;
}

.nav-link > img {
	margin-left: 5px;
}

.btn {
	border: solid 1px grey;
}

.w-100.active {
	background-color: white;
	transition: background-color 0.5s ease 0s;
	box-shadow: 0px 0px 2px 2px green;
}

.card-title {
	padding-top: 10px;
}

.border-dark {
	border-radius: 0px;
}

.card-columns {
	column-count: 2;
}

.card-img-top {
	padding-bottom: 20px;
}

.capitalize {
	text-transform: capitalize;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.header {
	padding-top: 30px;
	padding-bottom: 30px;
	background: linear-gradient(white 40%, #BDBDBD);
	text-align: center;
}

.blockquote > p {
	font-family: CODE;
	font-size: 50px;
	
}

.body-content {
	padding: 30px;
	padding-top: 50px;
	padding-bottom: 50px;
}
