@font-face {
	font-family: Exo-Light;
	src: url('exo-2/Exo2-Light.otf');
}

@font-face {
	font-family: Exo-Light;
	font-style: italic;
	src: url('exo-2/Exo2-LightItalic.otf');
}

@font-face {
	font-family: Exo-Light;
	src: url('exo-2/Exo2-Medium.otf');
	font-weight: bold;
}

@font-face {
	font-family: CODE;
	src: url('CODE/CODE Light.otf');
}

@font-face {
	font-family: CODE;
	font-weight: bold;
	src: url('CODE/CODE Bold.otf');
}

@font-face {
	font-family: CODE;
	src: url('CODE/CODE Light.otf');
}

body {
	font-family: Exo-Light;
}

.navbar {
	background-color: rgba(0,14,52,0.50);
	transition: background-color 0.5s ease 0s;
}

.navbar.opaque {
	background-color: rgba(0,14,52,1);
	transition: background-color 0.5s ease 0s;
}

h1, h2, h3, h4, h5, h6 {
	font-family: CODE;
	font-weight: bold;
}

.lead {
	font-family: CODE;
	padding-top: 20px;
	font-size: 38px;
	font-weight: bold;
	outline-color: black;
}

.section {
	padding-bottom: 20px;
}

.nav-pills > .nav-item > .active {
	background-color: white;
	color: blue;
	border-radius: 0px;
	box-shadow: 2px 3px 5px #999;
}

.nav-pills > .nav-item {
	border: solid 1px grey;
	background-color: rgba(182,199,255,0.3);
}

.col-xl-3 {
	padding-right: 0px;
}

.cover {
	box-shadow: 2px 3px 5px #999;
	border: solid 1px grey;
}

.nav-link > img {
	margin-left: 5px;
}

.btn {
	border: solid 1px grey;
}

.w-100.active {
	background-color: white;
	transition: background-color 0.5s ease 0s;
}

.card-title {
	padding-top: 10px;
}

.border-dark {
	border-radius: 0px;
}

.card-columns {
	column-count: 2;
}

.card-img-top {
	padding-bottom: 20px;
}

.capitalize {
	text-transform: capitalize;
}